@import "reser.scss";
@import 'variables/global.scss';
@import 'theme/dark.scss';
@import 'theme/normal.scss';

 
.app {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  gap: 10px;
  min-width: 320px;
  min-height: 100vh;


  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);
}
